@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category</h2>

<p><button type="button" class="btn btn-sm btn-success" onclick="getCategory()">Add Category</button></p>
<table class="table table-hover" id="tableCategory">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
</table>

<!-- Modal -->
<div class="modal fade" id="modalCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="contentModalCategory">
            
        </div>
    </div>
</div>

<div class="modal fade" id="modalDeleteCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="contentDeleteModalCategory">
        </div>
    </div>
</div>
